---
import { Image } from '@astrojs/image/components';
import { SITE } from '~/config.mjs';
import { Icon } from 'astro-icon';
import Layout from '~/layouts/PageLayout.astro';
import coverImage from '~/assets/images/cover.jpeg';
import ProjectsCard from '~/components/card/ProjectsCard.astro';
import StepsCard from '~/components/card/StepsCard.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div>
    <div class="relative w-full h-full">
      <Image src={coverImage} alt="Cover Image" class="z-0" />
      <!-- overlay for img -->
      <div class="absolute inset-0 bg-gradient-to-b from-black to-slate-800 opacity-75 z-10"></div>
      <div class="absolute inset-0 z-20 flex items-center justify-center md:items-start md:mt-52">
        <div
          class="text-center flex flex-col justify-center items-center gap-2 transition-all duration-500 ease-in-out"
        >
          <h1 class="text-4xl font-bold text-white animate-fadeUp">hi.</h1>
          <div class="flex flex-row flex-wrap gap-8 mt-10 justify-center items-center animate-fadeUp">
            <a href="https://github.com/WiIIiamTang" aria-label="GitHub" class="text-white">
              <Icon name="cib:github" class="w-10 h-10" />
            </a>
            <a href="https://www.linkedin.com/in/williaamt/" aria-label="LinkedIn" class="text-white">
              <Icon name="cib:linkedin" class="w-10 h-10" />
            </a>
            <button type="button" id="showemailbutton">
              <Icon name="cib:protonmail" class="w-10 h-10 text-white" />
            </button>
          </div>
          <div>
            <span
              id="email"
              class="transition-all duration-500 whitespace-nowrap mt-1 text-w relative text-white text-opacity-0 flex items-center"
              >willitang[at]proton[dot]me
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <StepsCard
      title="Experience"
      items={[
        {
          title: 'Software Engineer',
          description: 'Amazon; AWS RDS Open Source, MySQL & MariaDB; 2023-Present',
          icon: 'cib:amazon-aws',
        },
        {
          title: 'Software Engineer Intern',
          description: 'Amazon; AWS RDS Open Source, MySQL & MariaDB; Summer 2022',
          icon: 'cib:amazon-aws',
        },
        {
          title: 'Web Developer Intern',
          description: 'McGill University; QCBS; 2021-2022',
          icon: 'la:university',
        },
        {
          title: 'Neuroscience Research Intern',
          description: 'Dawson College; Dawson Research in Neuroscience group; Summer 2019',
          icon: 'la:university',
        },
        {
          title: '',
          icon: 'codicon:debug-start',
        },
      ]}
    />
  </div>
  <ProjectsCard
    title="Projects"
    subtitle="Things I work/worked on"
    items={[
      {
        title: 'create-sveltekit-eel-app',
        description:
          'create-sveltekit-eel makes desktop GUI applications easy to bootstrap and distribute. This NPM package will create a SvelteKit app with Python Eel integration. Everything has been setup for you, just start coding.',
        icon: 'twemoji:snake',
        link: 'https://github.com/WiIIiamTang/create-sveltekit-eel-app',
        tech: ['SvelteKit', 'Python', 'TypeScript', 'Tailwind CSS'],
      },
      {
        title: 'drawamogsus',
        description: 'Social deduction drawing game',
        icon: 'flat-color-icons:neutral-decision',
        link: 'https://drawamogsus.williamtang.me',
        tech: ['Next.js', 'TypeScript', 'Tailwind CSS', 'Socket.IO', 'NextAuth.js', 'Express', 'MySQL', 'PlanetScale'],
      },
      {
        title: 'discordwrapped',
        description: 'Website that displays various statistics and analytics about your server',
        icon: 'flat-color-icons:line-chart',
        link: 'https://discordwrapped.williamtang.me',
        tech: ['SvelteKit', 'Tailwind CSS', 'MongoDB'],
      },
      {
        title: 'render-image-links',
        description: 'A vscode extension that displays images/gifs on hover in the editor.',
        icon: 'flat-color-icons:image-file',
        link: 'https://github.com/WiIIiamTang/render-image-links',
        tech: ['TypeScript'],
      },
      {
        title: 'billbot',
        description:
          'Discord bot that provides music, moderation, and tracks server stats. Consumed by discordwrapped.',
        icon: 'flat-color-icons:self-service-kiosk',
        link: 'https://github.com/WiIIiamTang/billbot2',
        tech: ['discord.py', 'Docker'],
      },
      {
        title: 'fleet',
        description: 'A connectivity and data platform. Links my apps together.',
        icon: 'flat-color-icons:parallel-tasks',
        link: 'https://fleet.williamtang.me',
        tech: ['Next.js', 'TypeScript', 'Tailwind CSS', 'Prisma', 'NextAuth.js', 'tRPC', 'Supabase', 'PostgreSQL'],
      },
    ]}
  />

  <ProjectsCard
    subtitle="Contributions"
    items={[
      {
        title: 'mlrd',
        description: 'Command line tool to download lecture videos from McGill',
        icon: 'flat-color-icons:graduation-cap',
        link: 'https://github.com/WiIIiamTang/mlrd',
      },
      {
        title: 'Cutout',
        description:
          'Reproduction, verification of the paper "Improved Regularization of Convolutional Neural Networks with Cutout"',
        icon: 'flat-color-icons:questions',
        link: 'https://github.com/WiIIiamTang/Cutout',
      },
      {
        title: 'SummaRuNNer',
        description:
          'A modified PyTorch Implementation of SummaRuNNer used for our project on out-of-domain extractive text summarization.',
        icon: 'flat-color-icons:view-details',
        link: 'https://github.com/WiIIiamTang/SummaRuNNer',
      },
    ]}
  />

  <ProjectsCard
    subtitle="Other tools/demos"
    items={[
      {
        title: 'sveltekit-loading-speed',
        description:
          'Demonstrates how to optimize page server loads in SvelteKit apps when using multiple asynchronous requests. Describes how to avoid a "waterfall loading" problem.',
        icon: 'flat-color-icons:database',
        link: 'https://sveltekit-loading-speed.williamtang.me',
      },
      {
        title: 'status page',
        description: 'Shows online status of my apps',
        icon: 'heroicons-outline:status-online',
        link: 'https://stats.uptimerobot.com/7DlZEFzgO2',
      },
      {
        title: 'slink',
        description: 'A personal link shortener',
        icon: 'flat-color-icons:link',
        link: 'https://s.wclt.tech',
      },
    ]}
  />
</Layout>
